.join-page {
    position: relative;
    border-radius: 6px;
    background: #fafafa;
    min-height: 400px;
    width: 35vw;
    margin: 40px auto;

    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.join-page p {
    color: #f56f60;
}

.display-name {
    margin-bottom: 5%;
    margin-top: 5%;
}

.display-name-textbox {
    width: 100%;
    margin-bottom: 5%;
    float: left;
}

.join-page .generate-btn {
    background: #f56f60;
    color: white;
    border-radius: 6px;
    padding: 5px 20px;
    border: 0;
}

.clicked {
    background: #f1a79f;
}

.required {
    font-weight: bold;
    color: red;
}
