.header {
    background-color: white;
    padding: 1%;
}

.navbar-brand {
    color: #E98074;
}

.navbar-brand:hover {
    color:#E98074;
}

.search-container {
    border: 2px solid;
    border-radius: 6px;
    vertical-align: middle;
}

.search-input {
    border: none !important;
    padding: 0px 5px;
}

.search-button {
    background-color: transparent !important;
    border: none !important;
}

.search-icon {
    color: black !important;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    width: 80%;
}