.header {
    background-color: #f5f5f5;
    padding: 1%;
}

.navbar-brand {
    color: #E98074;
}

/*.navbar-brand:hover {
    background: #91c64b;
}*/

p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    width: 80%;
}