.header {
    background-color: white;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-brand {
    color: #e98074;
}

.navbar-brand:hover {
    color: #e98074;
}

.search-container {
    /*border: 2px solid gray;*/
    border-radius: 6px;
    vertical-align: middle;
    /*background-color: #F4F4F4;*/
}

.search-input {
    border: none !important;
    border-radius: 6px;
    background-color: #f4f4f4 !important;
}

.search-input:focus {
    background-color: white !important;
}

.search-input input {
    outline: none !important;
}

.search-button {
    background-color: #f4f4f4 !important;
    border: none !important;
}

.search-icon {
    color: gray !important;
}

/*sort by*/
#basic-nav-dropdown {
    /*border: 2px solid gray;*/
    border-radius: 6px;
    background-color: #f4f4f4;
    color: gray;
    border: none !important;
    padding-left: 20px;
    padding-right: 20px;
}

#basic-nav-dropdown:focus {
    background-color: white;
}

#download {
    margin-left: auto;
    margin-bottom: 15px;
    background: #e98074;
    color: white;
    border-radius: 6px;
    padding: 15px 20px;
    border: 0;
    float: right;
}
