.create-post-btn {
    background-color: #f56f60 !important;
    border: none !important;
}

.cancel-btn {
    background-color: transparent !important;
    color: gray !important;
    border: none !important;
}

.modal-content {
    padding: 5%;
}
