.roomContainer #discussionHeader {
    text-align: left;
}

.roomContainer #newDiscussion {
    margin-left: auto;
    margin-bottom: 15px;
    background: #f56f60;
    color: white;
    border-radius: 6px;
    padding: 5px 20px;
    border: 0;
}

.roomContainer #newDiscussion:hover {
    background: #f1a79f;
}

.clicked {
    background: #f1a79f;
}
